.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(97, 113, 113);
}
.sidebar {
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(31, 30, 29);
  width: 20vw;
}
.item {
  width: 100%;
  padding: 20px;
  /* background-color: rgb(49, 44, 157); */
  text-align: center;
  /* border-top: 1px solid rgb(255, 255, 255); */
  border-bottom: 1px solid rgb(199, 199, 199);
  color: white;
  cursor: pointer;
}
.item:hover {
  background-color: rgb(43, 49, 49);
  /* color: black; */
}
.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(30, 30, 82);
  width: 80vw;
}

.formBox {
  background-color: rgb(255, 255, 255);
  padding: 30px 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 50vw;
}
.input {
  /* margin-top: 20px !important; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.question {
  padding: 10px;
}
